header
{
  padding: 20px 0;
}

header .row
{
  display: flex;
  align-items: center;
}

header h1
{
  font-family: Tahoma, Geneva, sans-serif;
}

header nav
{
  display: flex;
  justify-content: flex-end;
}

header p
{
  padding: 0 10px;
  margin: 10px;
}

.jumbotron
{
  display: flex;
  align-items: center;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  background-image: url('../img/isaac.png');
  background-size: cover;
  height: 500px;
}

.row-centered
{
    text-align:center;
}

.col-centered
{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.jumbotron a, .jumbotron h1, .jumbotron p
{
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif
}

.img-thumbnail
{
  width: 200px;
}

.thumbnails
{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.thumbnails h3, .thumbnails p
{
  padding-left: 7px;
  padding-right:7px;
}

.form-horizontal
{
  padding: 40px 0;
}

footer
{
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
