<!DOCTYPE html>
<html lang="zh">

<head>
  <title>{{ page.title }}</title>

  <!-- Link to bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <!-- Check if user wants math formatting -->
  {% if page.use_math %}
    {% include mathjax_support %}
  {% endif %}
</head>

<body>
  <!-- Header -->
  <header class="container">
    <div class="row">
      <h1 class="col-sm-8">GitHub</h1>
      <nav class="col-sm-4">
        <p><a href="/index.html">Home</a></p>
        <p><a href="/blog/index.html">Blog</a></p>
      </nav>
    </div>
  </header>

  <!-- Main content -->
  <section class="container">
    {{ content }}
  </section>

  <!-- Footer -->
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">
        &copy; 2017 {{ site.name }}
      </p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <a href="#"> Contact </a>
        </li>
        <li class="col-sm-1">
          <a href="#"> Email </a>
        </li>
      </ul>
    </div>
  </footer>
</body>

<!-- Link to jQuery -->
<script src="/js/jquery-3.2.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

<!-- Link to syntax highlighting -->
{% if page.use_code %}
<link rel="stylesheet" href="/css/styles/github.css">
<script src="/css/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
</html>
